:root {
    --bg-color : #020312;
    --txt-color : #fcfbf8;
    --calc-color : #b3081f;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    color: var(--txt-color);
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 90vh;
    width: 65vh;
    margin: 30px;
    border-radius: 24px;
    background-color: var(--calc-color);
    padding-left: 10px;
    box-shadow: 10px 10px 8px gray;
}

.bill-wrapper {
    width: 95%;
    height: 30%;
    margin-top: 30px;
    margin-bottom: 20px;
}

label {
    margin-top: 20px;
    font-size: 30px;
}

input {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 95%;
    height: 45px;
    border-radius: 24px;
    border: none;
    outline: none;
    background-color: #a04551;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    color: var(--txt-color);
    box-shadow: 5px 5px 10px black;
}

.text {
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 8%;
    justify-content: space-between;
    padding: 10px;
    margin-top: 30px;
}

p {
    font-size: 30px;
}

.calc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    height: 10%;
    padding: 10px;
}

.prsn-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 30%;
}

button {
    border-radius: 50px;
    width: 35px;
    height: 35px;
    border: none;
    font-size: xx-large;
    background-color: var(--bg-color);
    color: var(--txt-color);
    box-shadow: 5px 5px 10px black;
}

button:hover {
    background-color: rgb(104, 37, 167);
}

button:active {
    background-color: var(--txt-color);
    color: blueviolet;
}